.telaCadastro{
   
    display: flex;
  /*  background: url('../../imagens/cadastro.jpeg') no-repeat bottom center scroll;*/
  background-color:rgb(37, 36, 36);
    background-size: cover;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
    height: 100vh;
    width: 100;
   
}

.telaCadastro h1{
    color: #fff;
}

.entradasCadastro{
    display: flex;
background-color: rgb(247, 245, 242);
    flex-direction: column;
    justify-content: space-around;
    width: 20%;
    height: 20%;
    padding: 100px 50px 100px 50px;
    border-radius: 10px;
}


.entradasCadastro input{
    padding: 5px;
    margin-top: 7px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgb(37, 36, 36);
    
}

.entradasCadastro button{
    background-color: rgb(8, 138, 8);
    box-shadow: none;
    font-weight: bold;
    margin: 0 auto;
    border: none;
    border-radius: 10px;
    padding: 7px;
    margin-top: 20px;
    width: 100%;
    color: rgb(37, 36, 36);
    
}

